<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Header</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Header 2</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="background: green">
            <p style="color: red">Paragraph</p>
        </div>
        <div class="col-md-6" style="background: red">
            <p style="color: green">Something else</p>
        </div>
    </div>
    <div class="row">
       <div class="col-md-12" style="background: antiquewhite">
           <h1>Another h1 tag</h1>
           <h2>Another h2 tag</h2>
       </div>
        <div class="col-md-3 col-md-offset-3" style="background-color: mediumaquamarine">
            <p style="color: brown">offset</p>
        </div>
    </div>
</div>
</body>
</html>